.m-share {
  position: fixed;
  top: 0;
  left: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
  color: @bg;
  text-align: center;
  text-align: center;
  background-color: rgba(255, 255, 255, .95);
  opacity: 1;

  &-inner {
    display: inline-block;
    width: 100%;
    max-width: @bp-md;
  }

  a {
    color: @bg;
  }

  p {
    padding: @gap;
  }



  &-tweet {
    margin: @gap;
  }

  &-close-btn {
    display: inline-block;
    padding: @gap;
    font-size: @font-sm;
    color: @primary;
    background-color: @bg;
    border-radius: @radius;
  }

  &-link-wrapper {
    overflow: auto;
  }

  &-link {
    font-size: @font-sm;
    color: @bg;
  }
}
