.l- {
  &app-inner {
    height: 100%;
  }

  &view {
    position: relative;
    height: 100%;
    padding: 0 @gap-sm;
    overflow-y: scroll;
    h1 {
      padding: @gap;
      font-size: @font-lg;
      text-align: center;
      text-transform: uppercase;
    }
    h2 {
      padding: @gap;
      font-size: @font-md;
      text-align: center;
      text-transform: uppercase;
    }
  }
}
