.l- {
  &app-inner {
    height: 100%;
  }

  &view-outer {
    height: 100%;
  }

  &view {
    position: relative;
    height: 100%;
    overflow-x: hidden;
    overflow-y: scroll;
    opacity: 1;
    animation-name: fadin;
    animation-duration: 1s;
    //animation-delay: 6s;
    animation-iteration-count: 1;

    animation-fill-mode: forwards;


    h1 {
      position: relative;
      left: 0;
      width: 101%; //hack for gap after aniamtion
      padding: @gap-lg;
      margin-bottom: @gap;
      font-size: 1.5em;
      color: @primary;
      text-align: center;
      text-transform: uppercase;
      background-color: @bg-2;
    }
    h2 {
      padding: @gap;
      font-size: @font-md;
      text-align: center;
      text-transform: uppercase;
    }
  }
}



@keyframes fadin {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
