.m-options {
  &-btn {
    width: 100%;
    padding: 30px;
    margin: 0 0 @gap-sm;
    text-align: center;
    &:nth-child(1) {
      background-color: #7eb867;
    }
    &:nth-child(2) {
      background-color: #e5625c;
    }
    &:nth-child(3) {
      background-color: #f9bf76;
    }
    &:nth-child(4) {
      background-color: #8eb2c5;
    }
    &.is-active {
      opacity: 1;
    }
  }
}
