.m-login {
  text-align: center;
  h1 {
    margin-bottom: @gap;
    font-size: @font-lg;
  }

  a {
    display: inline-block;
    width: 50%;
    padding: @gap 0;
    margin: @gap-lg*2 0;
    color: @primary;
    background-color: @fade-lt;
    border-radius: @radius;
    &:hover {
      .hover;
    }
    &:active {
      .click;
    }
  }

  &-cred {
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: @gap-sm 0;
    font-size: @font-sm;
    color: @bg-2;
  }
}
