.m-app {
  max-width: 600px;
  height: 100%;
  margin: 0 auto;
  overflow: hidden;
  background: linear-gradient(135deg, @c12 0%, @c11 100%);
  border-radius: @radius;

  &-inner {
    height: 100%;
  }
}
