.m-points {
  position: relative;
  display: inline-block;
  &:after {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    text-align: center;
    content: attr(data-added);
    opacity: 0;
  }
}
