.m-game-over {
  p {
    padding: @gap-sm;
  }
  &-history {
    width: 100%;
    padding: @gap-sm;
    text-align: left;
  }
  &-history-item {
    position: relative;
    width: 100%;
    padding: @gap 110px @gap @gap-lg;
    overflow: hidden;
    font-size: @font-sm;
    text-align: left;
    text-overflow: ellipsis;
    white-space: nowrap;
    border-bottom: 1px solid @red;


    &:after {
      position: absolute;
      top: 20px;
      left: 10px;
      content: '\2714';
    }

    &.is-answer-false:after {
      content: '\2718';
    }

    &-listen {
      position: absolute;
      top: @gap;
      right: 0;
      width: 100px;
      height: 36px;
      text-indent: -9999px;
      background: no-repeat 0 0 url(/assets/images/listen-black.svg) transparent;
      background-size: 100% auto;
    }
  }

  &-nav {
    margin: @gap-lg 0;

    &-item {
      width: 100%;
      text-align: center;
    }
  }

  &-btn {
    display: inline-block;
    width: 50%;
    padding: @gap-sm;
    margin: @gap 0;
    border-radius: @radius;
  }
}
