.m-playlist-input {
  position: relative;
  padding-right: 100px + @gap;
  margin-bottom: @gap;
  overflow: hidden;
  input {
    width: 100%;
    height: 50px;
    padding: 10px;
    font-size: @font-md;
  }
  button {
    position: absolute;
    top: 0;
    right: 0;
    width: 100px;
    padding: 10px;
    margin: 0;
  }
}
